[Unit]
Description=Check if the UI update is finished
Before=autostart.service
After=graphical.target

[Service]
Type=simple
EnvironmentFile=/etc/check_update/check_update.conf
ExecStart=/bin/bash /usr/local/bin/check_update.sh

[Install]
WantedBy=default.target
